@charset "UTF-8";

@import url("colors.css");
@import url("fonts.css");

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Newsreader:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


/*  GLOBAL TOKENS
--------------------------------*/

:root {
  overflow: scroll;
  scroll-behavior: smooth;
  
  /*
  FONT-SIZE =========================== */
  --base-scale: 112.5%;
  font-size: var(--base-scale);

  --font-size-xxs: 0.675rem;
  --font-size-xs: 0.75rem;
  --font-size-s: 0.875rem;
  --font-size-m: 1rem;
  --font-size-l: 1.25rem;
  --font-size-xl: 1.5rem;
  --font-size-xxl: 2rem;
  --font-size-xxxl: 2.625rem;
  --font-size-xxxxl: 3.5rem;
  
  --font-size-heading-1: 2.625rem;
  --font-size-heading-2: 2rem;
  --font-size-heading-3: 1.625rem;
  --font-size-heading-4: 1.375rem;
  --font-size-heading-5: 1.25rem;
  --font-size-heading-6: 1.125rem;
  
  /*
  FONTS =========================== */
    
    /* SERIF | Newsreader https://fonts.google.com/specimen/Newsreader */
    --font-serif: 'Newsreader';
    --font-fallback-serif: Constantia, 'Lucida Bright', 'Lucida Serif', Lucida, 'DejaVu Serif', 'Liberation Serif', Georgia;
    --font-stack-serif: var(--font-serif, var(--font-fallback-serif, serif));

    /* SANS | TypeType TTNorms Pro */
    --font-sans: 'TTNorms';
    --font-fallback-sans: -apple-system, BlinkMacSystemFont, 'Avenir Next', 'Segoe UI', 'Helvetica Neue', Ubuntu, Roboto, Arial;
    --font-stack-sans: var(--font-sans, var(--font-fallback-sans, sans-serif));
  
    /* MONO | IBM Plex Mono https://fonts.google.com/specimen/IBM+Plex+Mono */
    --font-mono: 'IBM Plex Mono';
    --font-fallback-mono: Menlo, Consolas, Monaco, 'Liberation Mono', 'Lucida Console';
    --font-stack-mono: var(--font-mono, var(--font-fallback-mono, monospace));

    /* Font settings */
    --text-font: var(--font-stack-sans);
    --text-weight: 500;
    --text-leading: 1.4;
    --text-tracking: -0.025em;
    --text-tracking-tight: -0.03em;
    --heading-font: var(--font-stack-sans);
    --heading-leading: 1.15;
    --heading-tracking: -0.03em;
    --mono-font: var(--font-stack-mono);

    /* Font declarations */
    font-family: var(--text-font);
    font-weight: var(--text-weight);
    line-height: var(--text-leading);
    letter-spacing: var(--text-tracking);
    
  /*
  COLORS =========================== */
    /* Brand colors */
    /*--brand-black: #000000;
    --brand-red: #d32f2f;
    --brand-volt: #ceff00;
    --brand-indigo: #3b4cc0;*/
    
    /* Shadows */
    --shadow-default: 0 2px 6px 0 rgb(0 41 77 / 7%);
    
    --shadow-soft: 0.25em 0.375em 1.25em rgb(0 0 0 / 30%);
    --shadow-lighter: 0 1px 3px rgb(0 0 0 / 10%);
    --shadow-light: 0 2px 4px rgb(0 0 0 / 14%);
    --shadow-medium: 0 2px 7px rgb(0 0 0 / 16%);
    --shadow-dark: 0 2px 10px rgb(0 0 0 / 20%);

    --shadow-tooltip: 0 2px 10px 0 rgb(0 18 32 / 8%);
    --shadow-hover: 0 2px 10px 0 rgb(0 18 32 / 13%);
    --shadow-modal: 0 2px 20px 0 rgb(0 0 0 / 20%);
    --shadow-card:
      0 2px 6px 0 rgb(0 41 77 / 7%),
      0 -1px 0 0 rgb(0 0 0 / 9%),
      -1px 0 0 0 rgb(0 0 0 / 7%),
      1px 0 0 0 rgb(0 0 0 / 7%),
      0 1px 0 0 rgb(0 0 0 / 7%);

    /* Gradients */
    --grad-dark-gray: linear-gradient(90deg, #90929A 0%, #4A4A4F 100%);
    --grad-dark-blue: linear-gradient(90deg, #00679D 0%, #2D3160 100%);
    --grad-dark-green: linear-gradient(90deg, #007A00 0%, #004338 100%);
    --grad-dark-red: linear-gradient(90deg, #984436 0%, #670034 100%);
    --grad-dark-yellow: linear-gradient(90deg, #D89F00 0%, #996D49 100%);
    --grad-light-gray: linear-gradient(90deg, #DCDDE4 0%, #A7A9B1 100%);
    --grad-light-blue: linear-gradient(90deg, #D1E0EC 0%, #BFC2D6 100%);
    --grad-light-green: linear-gradient(90deg, #E5F1E6 0%, #CEE3DE 100%);
    --grad-light-red: linear-gradient(90deg, #FFE1D9 0%, #FFCDDC 100%);
    --grad-light-yellow: linear-gradient(90deg, #FFFBD9 0%, #FFE1B5 100%);

    /* Aurorae */
    --aurora-dark-emerald: linear-gradient(90deg, #2D4F67 28.65%, #009C7B 100%);
    --aurora-dark-violet: linear-gradient(90deg, #2D4F67 30.73%, #864FE8 100%);
    --aurora-dark-magenta: linear-gradient(90deg, #2D4F67 31.25%, #B537B8 100%);
    --aurora-light-emerald: linear-gradient(90deg, #BBF5FF 31.77%, #8ED4C5 100%);
    --aurora-light-violet: linear-gradient(90deg, #BBF5FF 19.27%, #C7BBEF 100%);
    --aurora-light-magenta: linear-gradient(90deg, #BBF5FF 8.33%, #DEB3DD 100%);

    /* Foreground & background */
    --canvas-black: var(--pal-black);
    --canvas-dark: var(--gray-90);
    --canvas-mid-dark: var(--gray-70);
    --canvas-mid-light: var(--gray-30);
    --canvas-light: var(--gray-10);
    --canvas-white: var(--pal-base);
    --material-black: var(--gray-99);
    --material-dark: var(--gray-80);
    --material-mid-dark: var(--gray-60);
    --material-mid-light: var(--gray-40);
    --material-light: var(--gray-20);
    --material-white: var(--gray-05);

    --page-bg: var(--gray-00);
    --text-ink: var(--black);
    
    /* Inline styles */
    --link-normal: var(--blue-50b);   --link-hover: var(--cyan-30v);
    --code-dark: var(--night-70);     --code-light: var(--apple-10x);
    --del-dark: var(--red-60);        --del-light: var(--red-05);
    --ins-dark: var(--green-60);      --ins-light: var(--green-05);
    --mark-dark: var(--red-95);       --mark-light: var(--yellow-10v);
    --samp-dark: var(--indigo-90d);   --samp-light: var(--indigo-10d);
    --kbd-bg: var(--gray-10);         --kbd-border: var(--gray-20);
  
  /*
  SPACING =========================== */
  /* Spacing constants */
  --space-hair: 0.125rem;
  --space-xxs: 0.25rem;
  --space-xs: 0.5rem;
  --space-s: 0.75rem;
  --space-m: 1rem;
  --space-l: 1.25rem;
  --space-xl: 2rem; 
  
  --corners-sharp: 0;
  --corners-dull: 0.25rem;
  --corners-default: 0.375rem;
  --corners-round: 0.5rem;
  --corners-circle: 50%;

  /* Containers */
  --container-large: min(100%, 1200px);
  --container-medium: min(100%, 1064px);
  --container-small: min(100%, 800px);

  /* Spacing settings */
  --field__y-gutter: var(--space-xxs);
  --field-group__x-gap: var(--space-l);
  --field-group__y-gap: var(--space-m);
  --textbox__x-padding: var(--space-s);
  --textbox__y-padding: var(--space-xs);
  --card__padding-small: var(--space-m);
  --card__padding-large: var(--space-l);
  --paragraph__before: var(--space-xxs);
  --paragraph__after: var(--space-l);
  --section__x-padding: var(--space-l);
  --section__y-padding: var(--space-s);
  
  /*
  ANIMATION =========================== */
  --animate-hover-on: 0s 0s linear;
  --animate-hover-off: 125ms 20ms ease-in;
}


/*  TAGS & ATTRIBUTES
--------------------------------*/

body {
  text-align: left;
  list-style-type: disc;
  box-sizing: border-box;
  margin: 0;
  font-style: normal;
  background-color: var(--page-bg);
  color: var(--text-ink);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

p {
  margin:
    var(--paragraph__before)
    0
    var(--paragraph__after);
}

strong, b, dfn {
  font-weight: 700;
  letter-spacing: var(--text-tracking-tight);
}
dfn {
  font-style: normal;
  color: var(--blacker);
}

:link,
:visited {
  color: var(--link-normal);
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  transition: var(--animate-hover-off);
  transition-property: color;
}
a:hover {
  transition: var(--animate-hover-on);
  color: var(--link-hover);
  text-decoration: underline;
}

figure {
  margin: 0;
  padding: 0;
  line-height: 1;
}

menu {
  margin: 0;
  padding: 0;
}

kbd, code, samp, pre {
  font-family: var(--mono-font);
  font-size: inherit;
  letter-spacing: var(--text-tracking-tight);
}
kbd, pre {
  font-size: var(--font-size-s);
  line-height: 1.025;
}
code, samp {
  font-size: 0.875em;
  font-weight: 400;
  line-height: 1;
  margin-inline: 0.1em;
  padding: 0.05em 0.25em;
  border-radius: var(--corners-dull);
  position: relative;
  bottom: 0.075em;
}

kbd {
  background-color: var(--kbd-bg);
  color: var(--blacker);
  border: 2px solid var(--kbd-border);
  margin-inline: 0.05em;
  padding-inline: 0.2em;
  border-radius: var(--corners-default);
}
code {
  background-color: var(--code-dark);
  color: var(--code-light);
}
samp {
  background-color: var(--samp-light);
  color: var(--samp-dark);
}
mark {
  background-color: var(--mark-light);
  color: var(--mark-dark);
  padding-inline: 0.1em;
  font-weight: 500;
  letter-spacing: var(--text-tracking-tight);
}

del {
  background-color: var(--del-light);
  color: var(--del-dark);
}
ins {
  background-color: var(--ins-light);
  color: var(--ins-dark);
}

small, sup {
  font-size: var(--font-size-xs);
}
sub, sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline
}
sup {
  top: -.5em;
}
sub {
  font-size: var(--font-size-xxs);  
  bottom: -.25em;
}


/*  HEADINGS
--------------------------------*/

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  line-height: var(--heading-leading);
  letter-spacing: var(--heading-tracking);
  margin: 0;
  padding: 0;
  color: var(--blacker);
}

/* Jumbo for hero */
.hed-0 {
  color: var(--blackest);
  margin: 0.5em 0 0;
  padding: 0.375em 0;
  font-size: var(--font-size-xxxl);
  line-height: calc(var(--heading-leading) - 0.2);
  font-weight: 700;
  letter-spacing: calc(var(--heading-tracking) - 0.025em);
}

.hed-1,
h1:not([class]) {
  color: var(--black);
  margin: 0.5em 0 0.375em;
  padding: 0.375em 0;
  font-size: var(--font-size-heading-1);
  line-height: calc(var(--heading-leading) - 0.2);
  font-weight: 600;
  letter-spacing: calc(var(--heading-tracking) - 0.02em);
}
.hed-2,
h2:not([class]) {
  margin: 0.625em 0 0.25em;
  padding: 0.5em 0 0.375em;
  font-size: var(--font-size-heading-2);
  line-height: calc(var(--heading-leading) - 0.1);
  font-weight: 700;
  letter-spacing: calc(var(--heading-tracking) - 0.015em);
}
.hed-3,
h3:not([class]) {
  margin: 0;
  padding: 0.5em 0;
  font-size: var(--font-size-heading-3);
  line-height: calc(var(--heading-leading) + 0.05);
  font-weight: 700;
  letter-spacing: calc(var(--heading-tracking) - 0.01em);
}
.hed-4,
h4:not([class]) {
  margin: 0;
  padding: 0.5em 0 0.375em;
  font-size: var(--font-size-heading-4);
  line-height: calc(var(--heading-leading) + 0.05);
  font-weight: 700;
}
.hed-5,
h5:not([class]) {
  margin: 0;
  padding: 0.5em 0 0.375em;
  font-size: var(--font-size-heading-5);
  line-height: var(--heading-leading);
  font-weight: 800;
}
.hed-6,
h6:not([class]) {
  margin: 0;
  padding: 0.5em 0 0.25em;
  font-size: var(--font-size-heading-6);
  line-height: var(--heading-leading);
  font-weight: 800;
}


/*  SUB-HEADINGS & HGROUPS
--------------------------------*/

/* Adds an overline before the heading */
.eyebrow {
  margin-bottom: 0;
  color: var(--blue-60d);
  font-weight: 600;
  text-transform: uppercase;
}
.eyebrow + .hed-1,
.eyebrow + h1:not([class]),
.eyebrow + .hed-2,
.eyebrow + h2:not([class]) {
  margin-top: 0;
  padding-top: 0.125em;
}

/* Sub-head of a .hed-0 jumbo heading */
.hed-0 + .dek {
  color: var(--blacker);
  font-size: var(--font-size-xl);
  line-height: calc(var(--heading-leading) - 0.05);
  font-weight: 600;
  letter-spacing: calc(var(--heading-tracking) - 0.01em);
  margin-bottom: var(--space-l);
}


/*  LAYOUTS
--------------------------------*/

.container {
  width: var(--container-medium);
  margin: 0 auto;
}
.container.narrow {width: var(--container-small);}
.container.wide {width: var(--container-large);}

section .container,
article .container,
.page__header .container,
.page__footer .container {
  padding: var(--section__y-padding) var(--section__x-padding);
}
.site__header .container,
.site__footer .container {
  padding: 0 var(--section__x-padding);
}

/* .stack establishes a vertical flex container */
.stack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.stack > * {
  margin-block: 0;
}
.stack > * + * {
  margin-block-start: var(--space-l);
}

/* .row establishes a horizontal flex container */
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.row.reverse {
  flex-direction: row-reverse;
}

/* .box is a visible generic container, used to group
  contents as a single child of a .stack or .row */
.box {
  padding: var(--card__padding-large);
  border-radius: var(--corners-default);
  border: var(--space-xxs) var(--gray-30) solid;
  --color-light: var(--whitest);
  --color-dark: var(--blacker);
  color: var(--color-dark);
  background-color: var(--color-light);
}
.box.invert {
  color: var(--color-light);
  background-color: var(--color-dark);
}

/* .switcher is a responsive flex row that wraps children to the
  next row when space runs out, "switching" to a column */
.switcher {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-s);
  --switcher-xy-threshold: 30rem;
}
.switcher > * {
  flex-grow: 1;
  flex-basis: calc((var(--switcher-xy-threshold) - 100%) * 999);
}
.switcher > :nth-last-child(n+5),
.switcher > :nth-last-child(n+5) ~ * {
  flex-basis: 100%;
}

/* Flex child will grow and push siblings
  outward, e.g. logo and menu in header */
.expander {
  flex-grow: 1;
  border: none;
}

/* Use fixed-height div for vertical space
  without having to change parent padding */
.breaker {
  height: calc(var(--font-size-xxxl) + 0.5rem);
}

/* Sticks column to top of viewport, e.g. the image/video
  column of a Media component with long vertical scroll */
.col-sticky {
  position: sticky;
  top: calc(var(--font-size-xxxl) + var(--space-l));
  /*top: 8rem;*/
}


/*  UTILITIES
--------------------------------*/

.size\:xxs { font-size: var(--font-size-xxs); }
.size\:xs { font-size: var(--font-size-xs); }
.size\:s { font-size: var(--font-size-s); }
.size\:m { font-size: var(--font-size-m); }
.size\:l { font-size: var(--font-size-l); }
.size\:xl { font-size: var(--font-size-xl); }
.size\:xxl { font-size: var(--font-size-xxl); }
.size\:xxxl { font-size: var(--font-size-xxxl); }
.size\:xxxxl { font-size: var(--font-size-xxxxl); }

.gap-y\:0 { margin-block: 0; }
.gap-y\:s { margin-block: var(--space-m); }
.gap-y\:m { margin-block: var(--space-xl); }
.gap-y\:l { margin-block: var(--space-xxl); }

.gap-below\:0 { margin-block-end: 0; }
.gap-below\:s { margin-block-end: var(--space-m); }
.gap-below\:m { margin-block-end: var(--space-xl); }
.gap-below\:l { margin-block-end: var(--space-xxl); }

.nobr { white-space: nowrap; }
.hide { display: none !important; }

/* Visible to screen-readers, hidden on screen */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border-width: 0;
}


/*  SECTIONS
--------------------------------*/

/* <section> and <article> are document semantics;
  apply spacing styles to their .container children */
main > section,
main > article {
  margin: 0;
  padding: 0;
}


/*  BUTTONS
--------------------------------*/

.button {
  display: inline-block;
}
:where(
  button,
  .button,
  input[type=button],
  input[type=submit],
  input[type=reset]
) {
  --button__color-dark: var(--gray-80);
  --button__color-light: var(--gray-10);
  --button__color-white: var(--whiter);
  --button__color-hover: var(--yellow-40v);
  font-family: inherit;
  font-size: var(--font-size-s);
  font-weight: 600;
  letter-spacing: var(--text-tracking-tight);
  padding: var(--space-xs) var(--space-m);
  border-radius: var(--corners-round);
  border-style: solid;
  border-width: var(--space-hair);
  transition: var(--animate-hover-off);
  transition-property: background-color, border-color;
  cursor: pointer;
  box-shadow: none;
}

/* Flavors */
.brand {
  --button__color-dark: var(--blue-60);
  --button__color-light: var(--blue-10d);
  --button__color-white: var(--blue-00);
  --button__color-hover: var(--blue-40b);
}
.positive {
  --button__color-dark: var(--green-60);
  --button__color-light: var(--green-10d);
  --button__color-white: var(--green-00);
  --button__color-hover: var(--green-40b);
}
.negative {
  --button__color-dark: var(--red-60);
  --button__color-light: var(--red-10d);
  --button__color-white: var(--red-00);
  --button__color-hover: var(--red-40b);
}

/* Ranks */
.primary {
  color: var(--button__color-white);
  background-color: var(--button__color-dark);
  border-color: var(--button__color-dark);
}
.secondary {
  color: var(--button__color-dark);
  background-color: var(--button__color-light);
  border-color: var(--button__color-light);
}
.tertiary {
  color: var(--button__color-dark);
  background-color: transparent;
  border-color: var(--button__color-dark);
}
.other {
  color: var(--button__color-dark);
  background-color: transparent;
  border-color: transparent;
}

button:hover,
.button:hover,
input[type=button]:hover,
input[type=submit]:hover,
input[type=reset]:hover {
  transition: var(--animate-hover-on);
  box-shadow: var(--shadow-hover);
  color: var(--button__color-white);
  background-color: var(--button__color-hover);
  border-color: var(--button__color-hover);
}

button * + *,
.button * + *,
input[type=button] * + *,
input[type=submit] * + *,
input[type=reset] * + * {
  margin-inline-start: var(--space-xxs);
}

.button-group {
  margin-block: var(--field-group__y-gap);
}

.button-group button + button {
  margin-inline-start: var(--space-xs);
}

.button-plus-text {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: var(--space-s);
}


/*  FIELDS
--------------------------------*/

:is(
  input[type="text"],
  input[type="email"],
  input[type="date"],
  input[type="datetime-local"],
  input[type="month"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="time"],
  input[type="url"],
  input[type="week"],
  textarea,
  select
) {
  font-family: var(--text-font);
  font-size: var(--font-size-s);
  line-height: 1.4;
  padding: var(--textbox__y-padding) var(--textbox__x-padding);
  border-radius: var(--corners-dull);
  border: none;
  color: var(--blackest);
  background-color: var(--gray-05);
}

:is(
  select,
  input[type="checkbox"],
  input[type="radio"]
) {
  cursor: pointer;
}

:is(
  input[type="text"],
  input[type="email"],
  input[type="date"],
  input[type="datetime-local"],
  input[type="month"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="time"],
  input[type="url"],
  input[type="week"],
  textarea,
  select
):hover {
  outline: 2px solid var(--cyan-40b);
}

:is(
  input[type="text"],
  input[type="email"],
  input[type="date"],
  input[type="datetime-local"],
  input[type="month"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="time"],
  input[type="url"],
  input[type="week"],
  textarea,
  select
):focus {
  background-color: var(--whitest);
}

textarea.no-resize {
  resize: none;
}


/*  TABLES
--------------------------------*/

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 1rem 0;
}

table th {
  font-size: var(--font-size-m);
  font-weight: 700;
  background-color: var(--gray-07);
  color: var(--black);
  padding: var(--space-xxs) var(--space-s);
  border-bottom: 2px solid var(--gray-10);
  vertical-align: top;
  text-align: left;
}
table td {
  padding: var(--space-xs) var(--space-s);
  border-bottom: 2px solid var(--gray-20);
  vertical-align: top;
}

/* .spec is a simple table of key-value pairs */
table.spec {
  font-size: var(--font-size-s);
  margin: 0;
  border: none;
}
table.spec td {
  padding: var(--space-hair) var(--space-xs);
  border: none;
}
table.spec tr:nth-child(odd) {
  background-color: var(--gray-02);
}
table.spec tr > td:first-child {
  font-weight: 600;
  width: 9rem;
}


/*  BREAKPOINTS
--------------------------------*/

/*
  Smaller:
  @media screen and (max-width: 991px) {}
  @media screen and (max-width: 767px) {}
  @media screen and (max-width: 479px) {}

  Larger:
  @media screen and (min-width: 1200px) {}
*/